
@{
    ViewData["Title"] = "NotAuthorized";
}

<div class="body-forbidden">
    <div class="gandalf">
        <div class="fireball"></div>
        <div class="skirt"></div>
        <div class="sleeves"></div>
        <div class="shoulders">
            <div class="hand left"></div>
            <div class="hand right"></div>
        </div>
        <div class="head">
            <div class="hair"></div>
            <div class="beard"></div>
        </div>
    </div>

    <div class="message">
        <h1>403 - You Shall Not Pass</h1>
        <p>Gandalf está a bloquear o caminho! Verifica a URL ou tenta outra página.</p>
    </div>
</div>

